/***** BASE STYLES *****/

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #2b2b2b;
}

/***** GRID *****/

.full-width {
    width: 1200px;
    margin: 0 auto;
}

.half-width {
    width: 600px;
    float: left;
}

.third-width {
    width: 400px;
    float: left;
}

/***** HEADER SECTION *****/

#home {
    height: 800px;
    background: url('../img/hero.png');
    background-size: cover;
}

#home h1 {
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #BBC085;
    font-weight: 400;
    padding: 65px 0 65px 25px;
    text-decoration: none !important;
}

nav {
    float: right;
    padding: 75px 25px;
}

nav ul li{
    display: inline-block;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: #828282;
    padding-left: 80px;
}

#home h2 {
    width: 1000px;
    clear: both;
    font-family: 'Lora', serif;
    font-size: 72px;
    line-height: 80px;
    color: #9b9b9b;
    padding: 20px 0 20px 25px;
}

#home h2 span {
    color: #2b2b2b;
}

#home h2 a {
    text-decoration: none;
    color: #9b9b9b;
}

#home a:hover {
    color: #C49075;
}

/***** ABOUT SECTION *****/

#about {
    height: 300px;
}

#about .full-width {
    padding: 80px 0;
}

#about .about-flex {
    display: flex;
    justify-content: space-around;
}

#about h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    padding-left: 50px;
}

#about p {
    font-size: 21px;
    color: #7F7F7F;
    line-height: 40px;
    padding-left: 50px;
    padding-right: 33px
}

#about p span {
    color: #C49075;
    font-style: italic;
}

#about img {
    padding-left: 142px;
    margin-top: -22px;
}

/***** STUDY SECTION *****/

#study {
    height: 600px;
}

#study .full-width {
    padding: 115px 0;
}

#study .study-flex {
    display: flex;
    justify-content: space-around;
}

#study h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    padding-left: 50px;
    margin: 30px 0;
}

#study h3 {
    font-size: 21px;
    line-height: 32px;
    margin: 0 auto;
    text-align: center;
    color: #C49075;
}

#study ul {
    padding-left: 110px;
}

#study ul li  {
    font-size: 21px;
    color: #7F7F7F;
    line-height: 40px;
}

#study ul span {
    color: #C49075;
    font-style: italic;
}

/***** WORK SECTION *****/

#work {
    height: 600px;
    text-align: center;
}

#work h1 {
    font-family: 'Lora', serif;
    font-size: 36px;
    margin-bottom: 60px;
}

#work .third-width {
    background-color: #F9CEB7;
    color: #2b2b2b;
    height: 500px;
    width: 300px;
    border: 0px solid black;
}

#work .work-flex {
    display: flex;
    justify-content: space-evenly;
}

#work h3 {
    font-size: 24px;
}

#work ul {
    text-align: left;
    line-height: 28px;
    font-family: 'Lora', serif;
    font-size: 18px;
    font-style: italic;
    padding-left: 84px;
}

#work #city-cycles img {
    padding-top: 10.5px;
    position: relative;
}

#work #instructorhq img {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#work #sandbox img {
    padding-top: 50px;
}

#sandbox h2 {
    font-family: 'Lora', serif;
    font-size: 32px;
    margin-top: 8px;
    color: #C49075;
}

.img-background {
    width: 279px;
    height: 210px;
    position: relative;
    background-color: #ffffff;
    top: 10.5px;
    left: 10.5px;
}

.overlay {
    width: 300px;
    height: 500px;
    transition: .5s ease;
    background-color: #9b9b9b;
    opacity: 0;
    position: absolute;
}

#work .work-card:hover .overlay {
    opacity: 1;
}

.overlay-text {
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    position: absolute;
    top: 63%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#instructorhq .work-card-text, #sandbox .work-card-text {
    margin-top: 42px
}

/***** CONTACT SECTION *****/

#contact .full-width {
    text-align: center;
    padding-bottom: 10px;
}

#contact #socialmedia-header {
    font-weight: bold;
    font-size: 29px;
    line-height: 44px;
    margin: 40px 0 0 0;
}

#contact-info {
    padding-top: 30px;
}

#contact a {
    text-decoration: none;
    color: #C49075;
    font-weight: bold;
    font-size: 28px;
}

#contact ul {
    list-style: none;
}

#contact ul li {
     display: inline-block;
}

#contact ul img {
    font-size: 32px;
    padding-right: 48px;
}


/***** CITY CYCLES *****/

/***** CC - HOME *****/

#city-cycles .full-width .half-width a h1 {
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #BBC085;
    font-weight: 400;
    padding: 65px 0 65px 25px;
    text-decoration: none !important;
}

#city-cycles a:hover {
    color: #C49075;
}

#city-cycles .full-width .half-width a:hover {
    color: #C49075;
}

/***** CC - NAV *****/

#cc-nav a:hover {
    color: #D67313;
}

#cc-nav nav {
    float: right;
    padding: 0 2px 0 0;
}

#cc-nav nav ul li{
    display: inline-block;
}

#cc-nav nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: #828282;
    padding-left: 56px;
}

#cc-nav {
    height: 200px;
}

/***** CC - OVERVIEW *****/

#overview {
    height: 600px;
}

#overview h1 {
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #D67313;
    font-weight: 400;
    padding: 65px 0 34px 25px;
    text-decoration: none !important;
}

#overview .overview-flex {
    display: flex;
    justify-content: space-evenly;
}

#overview .overview-flex img {
    padding-left: 114px;
    padding-top: 80px;
}

/***** CC - PROBLEM *****/

#problem {
    height: 668px;
}

#problem h1 {
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #D67313;
    font-weight: 400;
    padding: 65px 0 34px 25px;
    text-decoration: none !important;
}

#problem h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    padding-left: 50px;
    margin: 30px 0;
}

#problem h3 {
    font-size: 26px;
    line-height: 32px;
    padding-left: 50px;
    margin: 15px 0;
    color: #828282;
}

#problem h4 {
    font-size: 26px;
    line-height: 32px;
    margin: 40px auto;
    text-align: center;
    color: #D67313;
}

#problem h5 {
    font-size: 21px;
    line-height: 32px;
    padding-left: 50px;
    margin: 15px 0;
    color: #828282;
}

#problem ul {
    padding-left: 110px;
}

#problem ul li  {
    font-size: 21px;
    color: #7F7F7F;
    line-height: 40px;
}

#problem .problem-flex {
    display: flex;
    justify-content: space-evenly;
}

/***** CC - RESEARCH *****/

#research {
    height: 2600px;
}

#research h1 {
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #D67313;
    font-weight: 400;
    padding: 65px 0 34px 25px;
    text-decoration: none !important;
}

#research h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    padding-left: 50px;
    margin: 30px 0;
}

#research h3 {
    font-size: 26px;
    line-height: 32px;
    padding-left: 50px;
    margin: 15px 0;
    color: #828282;
}
#research .research-flex-interview {
    padding: 40px 0;
    height: 572px;
}

#research .research-flex-interview .half-width {
    display: flex;
    justify-content: space-evenly;
}

#research .research-flex-personas {
    height: 572px;
    padding-top: 25px;
}

#research .ash-persona {
    padding-bottom: 15px;
}

#research .ash {
    padding-top: 24px;
}

#research .belle-persona {
    padding-top: 5px;
}

#research .research-flex-personas img {
    width: 57%;
    padding-left: 50px;
}

#research .img-cap {
    text-align: center;
    padding: 10px 0 15px 0;
}

#research .research-flex-personas .half-width {
    display: flex;
    justify-content: space-evenly;
}

#research .research-flex .half-width {
    display: flex;
    justify-content: space-evenly;
}

#research .research-flex-map .full-width {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

/***** CC - PROTOTYPE *****/

#prototype {
    height: 2600px;
}

#prototype h1 {
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #D67313;
    font-weight: 400;
    padding: 65px 0 34px 25px;
    text-decoration: none !important;
}

#prototype h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    padding-left: 50px;
    margin: 30px 0;
}

#prototype h3 {
    font-size: 21px;
    line-height: 32px;
    padding-left: 50px;
    margin: 15px 0;
    color: #828282;
}

#prototype .prototype-flex-lo-fi, #prototype .prototype-flex-flow, #prototype .prototype-flex-form  {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 60px;
}

#prototype .prototype-flex-lo-fi {
    height: 560px;
}

#prototype .prototype-flex-flow {
    height: 660px;
}

#prototype .prototype-flex-form {
    height: 570px;
}

/***** CC - TESTING *****/

#testing {
    height: 1500px;
}

#testing h1 {
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #D67313;
    font-weight: 400;
    padding: 65px 0 34px 25px;
    text-decoration: none !important;
}

#testing h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    padding-left: 50px;
    margin: 30px 0;
}

#testing h3 {
    font-size: 36px;
    line-height: 32px;
    padding-left: 50px;
    margin: 15px 0;
    color: #828282;
}

#testing h4 {
    font-size: 26px;
    line-height: 32px;
    margin: 40px auto;
    padding-left: 50px;
    color: #D67313;
}

#testing .testing-flex {
    display: flex;
    justify-content: space-evenly;
}

.testing-flex img {
    width: 75%;
    padding-left: 84px;
}

#testing .half-width {
    text-align: center;
}

.testing-img-background {
    width: 230px;
    height: 68px;
    background-color: #D67313;
    top: 10.5px;
    left: 10.5px;
    text-align: center;
    color: #2b2b2b;
    text-decoration: none;
}

.testing-button {
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
}

.testing-overlay {
    width: 230px;
    height: 68px;
    transition: .5s ease;
    background-color: #9b9b9b;
    opacity: 0;
    position: absolute;
}

#testing .testing-button:hover .testing-overlay {
    opacity: 1;
}

.testing-overlay-text {
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.recommendations {
    padding-left: 50px;
    font-size: 26px;
    line-height: 1.5;
}

/***** INSTRUCTORHQ *****/

/***** IHQ - HOME *****/

#instructor .full-width .half-width a h1 {
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #BBC085;
    font-weight: 400;
    padding: 65px 0 65px 25px;
    text-decoration: none !important;
}

#instructor a:hover {
    color: #C49075;
}

/***** IHQ- NAV *****/

#ihq-nav a:hover {
    color: #24CD98;
}

#ihq-nav nav {
    float: right;
    padding: 0 2px 0 0;
}

#ihq-nav nav ul li{
    display: inline-block;
}

#ihq-nav nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: #828282;
    padding-right: 30px;
}

#ihq-nav {
    height: 200px;
}

/***** IHQ - OVERVIEW *****/

#ihq-overview {
    height: 575px;
}

#ihq-overview h1 {
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #24CD98;
    font-weight: 400;
    padding: 65px 0 34px 25px;
    text-decoration: none !important;
}

#ihq-overview .ihq-overview-flex {
    display: flex;
    justify-content: space-evenly;
}

#ihq-overview .ihq-overview-flex img {
    padding-left: 25px;
    padding-top: 80px;
    width: 80%;
}


/***** IHQ - WEBSITE *****/

#ihq-desk {
    height: 1000px;
}

#ihq-desk h1 {
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #24CD98;
    font-weight: 400;
    padding: 65px 0 34px 25px;
    text-decoration: none !important;
}

#ihq-desk h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    padding-left: 50px;
    margin: 30px 0;
}

#ihq-desk h3 {
    font-size: 21px;
    line-height: 32px;
    padding-left: 50px;
    margin: 15px 0;
    color: #828282;
}

#ihq-desk .ihq-desk-flex {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 60px;
}

#ihq-desk .ihq-desk-flex video {
    width: 1000px;
    height: 562.5px;
}

.ihq-desk-img-background {
    width: 230px;
    height: 68px;
    background-color: #24CD98;
    top: 10.5px;
    left: 10.5px;
    text-align: center;
    color: #2b2b2b;
    text-decoration: none;
}

.ihq-desk-button {
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
}

.ihq-desk-overlay {
    width: 230px;
    height: 68px;
    transition: .5s ease;
    background-color: #9b9b9b;
    opacity: 0;
    position: absolute;
}

#ihq-desk .ihq-desk-button:hover .ihq-desk-overlay {
    opacity: 1;
}

.ihq-desk-overlay-text {
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#ihq-desk .full-width a {
    text-decoration: none;
}

/***** IHQ - MOBILE APP *****/

#ihq-app {
    height: 1000px;
}

#ihq-app h1 {
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #24CD98;
    font-weight: 400;
    padding: 65px 0 34px 25px;
    text-decoration: none !important;
}

#ihq-app h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    padding-left: 50px;
    margin: 30px 0;
}

#ihq-app h3 {
    font-size: 21px;
    line-height: 32px;
    padding-left: 50px;
    margin: 15px 0;
    color: #828282;
}

#ihq-app .ihq-app-flex {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 60px;
}

#ihq-app .ihq-app-flex video {
    width: 316.4px;
    height: 562.5px;
}

.ihq-app-img-background {
    width: 230px;
    height: 68px;
    background-color: #24CD98;
    top: 10.5px;
    left: 10.5px;
    text-align: center;
    color: #2b2b2b;
    text-decoration: none;
}

.ihq-app-button {
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
}

.ihq-app-overlay {
    width: 230px;
    height: 68px;
    transition: .5s ease;
    background-color: #9b9b9b;
    opacity: 0;
    position: absolute;
}

#ihq-app .ihq-app-button:hover .ihq-app-overlay {
    opacity: 1;
}

.ihq-app-overlay-text {
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#ihq-app .full-width a {
    text-decoration: none;
}

/***** IHQ - MISC *****/

#ihq-misc {
    height: 450px;
}

#ihq-misc h1 {
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #24CD98;
    font-weight: 400;
    padding: 65px 0 34px 25px;
    text-decoration: none !important;
}

#ihq-misc h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    padding-left: 50px;
    margin: 30px 0;
}

#ihq-misc h3 {
    font-size: 21px;
    line-height: 32px;
    padding-left: 50px;
    margin: 15px 0;
    color: #828282;
}

#ihq-misc .full-width .ihq-misc-flex .half-width {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 15px;
}

#ihq-misc .full-width .ihq-misc-flex .sun-moon img {
    border: 3px solid #24CD98;
    border-radius: 20px;
}


/***** SANDBOX *****/

/***** SANDBOX - HOME *****/

#sandbox .full-width .half-width a h1 {
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #BBC085;
    font-weight: 400;
    padding: 65px 0 65px 25px;
    text-decoration: none !important;
}

#sandbox a:hover {
    color: #C49075;
}

/***** REMOVING TEXT DECORATION  *****/

#testing .full-width a {
    text-decoration-line: none;
}

#city-cycles .full-width .half-width a {
    text-decoration: none;
}

#instructor .full-width .half-width a {
    text-decoration: none;
}

#sandbox .full-width .half-width a {
    text-decoration: none;
}