/***** BASE STYLES *****/

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #2b2b2b;
}

/***** GRID *****/

.full-width {
    width: 1200px;
    margin: 0 auto;
}

.half-width {
    width: 600px;
    float: left;
}

.third-width {
    width: 400px;
    float: left;
}

/***** HEADER SECTION *****/

#home {
    /*height: 800px;*/
    /*background: url('../img/hero.png');*/
    background-size: cover;
}

#home h1 {
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #BBC085;
    font-weight: 400;
    padding: 65px 0 65px 25px;
    text-decoration: none !important;
}

nav {
    float: right;
    padding: 75px 25px;
}

nav ul li{
    display: inline-block;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: #828282;
    padding-left: 80px;
}

#home h2 {
    width: 1000px;
    clear: both;
    font-family: 'Lora', serif;
    font-size: 2.4em;
    line-height: 1.6em;
    color: #9b9b9b;
    padding: 20px 0 20px 25px;
}

#home h2 span {
    color: #C49075;
}

#home h2 a {
    text-decoration: none;
    color: #9b9b9b;
}

/*#home a:hover {
    color: #C49075;
}
*/

/***** WORK SECTION *****/

#work {
    height: 900px;
    text-align: center;
}

#work h1 {
    font-family: 'Lora', serif;
    font-size: 36px;
    margin-top: 60px;
}

#work .work-grid-container {
    display: grid;
    /*grid-template-rows: 100% 100%;*/
    grid-template-columns: 57% 30%;
    align-content: space-evenly;
    justify-content: center;
    grid-gap: 50px;
    /*padding: 10px;*/
}

#work .work-grid-item {
    padding: 20px;
}

#work .ts-whole-img {
    padding-top: 48px;
}

#work .cc-whole-img {
    padding-top: 48px;
}

#work .ts-text p {
    text-align: justify;
}

#work .cc-text p {
    text-align: justify;
}

#work .work-grid-item span {
    font-weight: bold;
}

#work .work-grid-item img#ts-img {
    width: 22%;
}

#work .work-grid-item img#cc-img-mac {
    width: 75%;
}

#work .work-grid-item img#cc-img-mobile {
    width: 17%;
}

#work .work-button {
      background-color: #C49075; /* Salmon */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
}

#work .work-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#work h3 {
    font-size: 24px;
}

/***** CONTACT SECTION *****/

#contact .full-width {
    text-align: center;
    padding-bottom: 10px;
}

#contact #socialmedia-header {
    font-weight: bold;
    font-size: 29px;
    line-height: 44px;
    margin: 40px 0 0 0;
}

#contact-info {
    padding-top: 30px;
}

#contact a {
    text-decoration: none;
    color: #C49075;
    font-weight: bold;
    font-size: 28px;
}

#contact ul {
    list-style: none;
}

#contact ul li {
     display: inline-block;
}

#contact ul img {
    font-size: 32px;
    padding-right: 48px;
}


/***** CITY CYCLES *****/

/***** CC - HOME NAV *****/

#city-cycles .full-width .half-width a h1 {
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #BBC085;
    font-weight: 400;
    padding: 65px 0 65px 25px;
    text-decoration: none !important;
}

#city-cycles a:hover {
    color: #C49075;
}

#city-cycles .full-width .half-width a:hover {
    color: #C49075;
}

#cc-title div {
    padding-top: 200px;
    padding-bottom: 20px;
    text-align: center;
}

#cc-title h1 {
    font-family: 'Lora', serif;
    font-size: 40px;
    color: #D67313;
    font-weight: 600;
    /*padding: 65px 0 34px 25px;*/
    text-decoration: none !important;
}

/***** CC - NAV *****/

#cc-nav a:hover {
    color: #D67313;
}

#cc-nav nav {
    float: right;
    padding: 0;
    width: 84%;
}

#cc-nav nav ul li{
    display: inline-block;
}

#cc-nav nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: #828282;
    padding-left: 56px;
}

#cc-nav {
    height: 35px;
}

/***** CC - OVERVIEW *****/

#cc-overview {
    height: 850px;
}

#cc-overview h1 {
    font-family: 'Lora', serif;
    font-size: 36px;
    /*color: #D67313;*/
    font-weight: 600;
    padding: 32px 0 0 25px;
    text-decoration: none !important;
}

#cc-overview p {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.26px;
}

#cc-overview li {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.26px;
}

#cc-overview .cc-overview-flex {
    display: flex;
    justify-content: space-evenly;
}

#cc-overview .cc-overview-flex img {
    /*padding-left: 114px;
    padding-top: 80px;*/
    max-width: 100%;
}

#cc-overview .cc-overview-img {
    padding-top: 10%;
}

/***** CC - SUMMARY *****/

#cc-summary {
    height: 1350px;
}

#cc-summary h1 {
    font-family: 'Lora', serif;
    font-size: 36px;
    /*color: #D67313;*/
    font-weight: 600;
    padding: 65px 0 34px 25px;
    text-decoration: none !important;
}

#cc-summary h2 {
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #D67313;
    /*padding-left: 50px;*/
    padding: 32px 0 34px 65px;
    margin: 30px 0;
}

#cc-summary h3 {
    font-size: 26px;
    line-height: 32px;
    padding-left: 50px;
    margin: 15px 0;
    color: #828282;
    text-align: center;
}

#cc-summary p {
    font-size: 1.4rem;
    padding: 0 20% 0 20%;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.26px;
    margin: 30px auto;
}

#cc-summary .cc-gif-grid-container-desktop {
    display: grid;
    /*grid-template-rows: 100% 100%;*/
    grid-template-columns: 33% 33% 33%;
    align-content: space-evenly;
    justify-content: center;
    grid-gap: 25px;
    padding: 55px;
}

#cc-summary .cc-gif-grid-item-desk {
    /*width: 200px;*/
}

#cc-summary .cc-gif-grid-item-desk video {
   max-width: 100%;
}

#cc-summary .cc-gif-grid-container-mobile {
    display: grid;
    /*grid-template-rows: 100% 100%;*/
    grid-template-columns: 25% 25%;
    align-content: space-evenly;
    justify-content: center;
    /*grid-gap: 50px;*/
    padding: 55px 55px 55px 178px;
}

#cc-summary .cc-gif-grid-item-mobile {
    width: 200px;
}

#cc-summary .cc-gif-grid-item-mobile video {
   max-width: 100%;
}


/***** CC - UX AUDIT *****/

#cc-ux-audit {
    height: 4000px;
}

#cc-ux-audit h1 {
    font-family: 'Lora', serif;
    font-size: 36px;
    /*color: #D67313;*/
    font-weight: 600;
    padding: 32px 0 34px 25px;
    text-decoration: none !important;
}

#cc-ux-audit h2 {
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #D67313;
    /*padding-left: 50px;*/
    padding: 32px 0 34px 65px;
    margin: 30px 0;
}

#cc-ux-audit h3 {
    font-size: 26px;
    line-height: 32px;
    padding-left: 50px;
    margin: 15px 0;
    color: #828282;
    text-align: center;
}

#cc-ux-audit p {
    font-size: 1.4rem;
    padding: 0 20% 0 20%;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.26px;
    margin: 30px auto;
}

#cc-ux-audit span {
    font-weight: bold;
}

.cc-wall-of-text {
    text-align: center;
}

.cc-wall-of-text img {
    max-width: 50%;
    border: 1px solid black;
}

.cc-belle {
    text-align: center;
}

#cc-ux-audit .cc-ux-audit-flex-interview {
    padding: 40px 0;
    height: 572px;
}

#cc-ux-audit .cc-ux-audit-flex-interview .half-width {
    display: flex;
    justify-content: space-evenly;
}

/***** CC - UX REDESIGN *****/

#cc-ux-redesign {
    height: 8000px;
}

#cc-ux-redesign h1 {
    font-family: 'Lora', serif;
    font-size: 36px;
    /*color: #D67313;*/
    font-weight: 600;
    padding: 32px 0 0 25px;
    text-decoration: none !important;
}

#cc-ux-redesign h2 {
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #D67313;
    /*padding-left: 50px;*/
    padding: 32px 0 34px 65px;
    margin: 30px 0;
}

#cc-ux-redesign h3 {
    font-size: 26px;
    line-height: 32px;
    /*padding-left: 50px;*/
    margin: 15px 0;
    color: #828282;
    text-align: center;
}

#cc-ux-redesign p {
    font-size: 1.4rem;
    padding: 0 20% 0 20%;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.26px;
    margin: 30px auto;
}

#cc-ux-redesign span {
    font-weight: bold;
}

#cc-ux-redesign .cc-ux-redesign-flex-interview {
    padding: 40px 0;
    height: 572px;
}

#cc-ux-redesign .cc-ux-redesign-flex-interview .half-width {
    display: flex;
    justify-content: space-evenly;
}

#cc-ux-redesign .cc-ux-redesign-flex-lo-fi, #cc-ux-redesign .cc-ux-redesign-flex-flow, #cc-ux-redesign .cc-ux-redesign-flex-form  {
    display: flex;
    justify-content: space-evenly;
    /*padding-bottom: 60px;*/
}

#cc-ux-redesign .cc-ux-redesign-flex-lo-fi {
    height: 560px;
}

#cc-ux-redesign .cc-ux-redesign-flex-flow {
    height: 660px;
}

#cc-ux-redesign .cc-ux-redesign-flex-form {
    height: 570px;
}

#cc-ux-redesign .cc-ux-redesign-flex {
    display: flex;
    justify-content: space-evenly;
}

.cc-ux-redesign-flex img {
    width: 75%;
    padding-left: 84px;
}

.cc-ux-redesign-flex p {
    text-align: center;
}

.cc-it-2-homepage {
    text-align: center;
}

.cc-it-2-homepage img {
    max-width: 50%;
    border: 1px solid black;
}

.cc-indicator-social-proof {
    text-align: center;
}

.cc-indicator-social-proof img {
    max-width: 50%;
    border: 1px solid black;
}

.cc-indicator-social-proof {
    text-align: center;
}

.cc-indicator-social-proof img {
    max-width: 50%;
    border: 1px solid black;
}

.cc-v1-vs-v2 {
    text-align: center;
}

.cc-horizontal-scroll {
    margin: 0 auto;
    width: 19%;
}

.cc-horizontal-scroll video {
    width: 200px;
}

.cc-vertical-scroll {
    margin: 0 auto;
    width: 19%;
}

.cc-vertical-scroll video {
    width: 200px;
}

#cc-ux-redesign .cc-prototype-button {
      background-color: #D67313; /* CC Orange Brown */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
}

#cc-ux-redesign .cc-prototype-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#cc-ux-redesign .button-fix {
    margin: 0 auto;
    width: 19%;
}

#cc-ux-redesign .cc-gif-grid-container-desktop {
    display: grid;
    /*grid-template-rows: 100% 100%;*/
    grid-template-columns: 33% 33% 33%;
    align-content: space-evenly;
    justify-content: center;
    grid-gap: 25px;
    padding: 55px;
}

#cc-ux-redesign .cc-gif-grid-item-desk {
    /*width: 200px;*/
}

#cc-ux-redesign .cc-gif-grid-item-desk video {
   max-width: 100%;
}

/***** CC - RETROSPECTIVE *****/

#cc-retrospective {
    height: 600px;
}

#cc-retrospective h1 {
    font-family: 'Lora', serif;
    font-size: 36px;
    /*color: #D67313;*/
    font-weight: 600;
    padding: 65px 0 34px 25px;
    text-decoration: none !important;
}

#cc-retrospective p {
    font-size: 1.4rem;
    padding: 0 20% 0 20%;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.26px;
    margin: 30px auto;
}


/***** TABLESHARE *****/

/***** TS - HOME NAV *****/

#tableshare .full-width .half-width a h1 {
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #BBC085;
    font-weight: 400;
    padding: 65px 0 65px 25px;
    text-decoration: none !important;
}

#tableshare a {
    text-decoration: none !important;
}

#tableshare a:hover {
    color: #C49075;
}

#tableshare .full-width .half-width a:hover {
    color: #C49075;
}

#ts-title div {
    padding-top: 200px;
    padding-bottom: 20px;
    text-align: center;
}

#ts-title h1 {
    font-family: 'Lora', serif;
    font-size: 40px;
    color: #006644;
    font-weight: 600;
    /*padding: 65px 0 34px 25px;*/
    text-decoration: none !important;
}

/***** TS - NAV *****/

#ts-nav a:hover {
    color: #006644;
}

#ts-nav nav {
    float: right;
    padding: 0;
    width: 95%;
}

#ts-nav nav ul li{
    display: inline-block;
}

#ts-nav nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: #828282;
    padding-left: 56px;
}

#ts-nav {
    height: 35px;
}

/***** TS - OVERVIEW *****/

#ts-overview {
    height: 1050px;
}

#ts-overview h1 {
    font-family: 'Lora', serif;
    font-size: 36px;
    /*color: #006644;*/
    font-weight: 600;
    padding: 65px 0 0 25px;
    text-decoration: none !important;
}

#ts-overview p {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.26px;
}

#ts-overview li {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.26px;
}

#ts-overview .ts-overview-flex {
    display: flex;
    justify-content: space-evenly;
}

#ts-overview .ts-overview-flex img {
    /*padding-left: 114px;
    padding-top: 80px;*/
    max-width: 100%;
}

#ts-overview .ts-overview-img {
    padding-top: 10%;
}

#ts-overview span {
    font-weight: bold;
    font-style: italic;
}

/***** TS- SUMMARY *****/

#ts-summary {
    height: 1500px;
}

#ts-summary h1 {
    font-family: 'Lora', serif;
    font-size: 36px;
    /*color: #006644;*/
    font-weight: 600;
    padding: 65px 0 34px 25px;
    text-decoration: none !important;
}

#ts-summary h2 {
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #006644;
    /*padding-left: 50px;*/
    padding: 65px 0 17px 65px;
    margin: 30px 0;
}

#ts-summary h3 {
    font-size: 26px;
    line-height: 32px;
    /*padding-left: 50px;*/
    margin: 15px 0;
    color: #828282;
    text-align: center;
}

#ts-summary p {
    font-size: 1.4rem;
    padding: 0 20% 0 20%;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.26px;
    margin: 30px auto;
}

#ts-summary .ts-gif-grid-container {
    display: grid;
    /*grid-template-rows: 100% 100%;*/
    grid-template-columns: 25% 25% 25% 25%;
    align-content: space-evenly;
    justify-content: center;
    /*grid-gap: 50px;*/
    padding: 55px;
}

#ts-summary .ts-gif-grid-item {
    width: 200px;
}

#ts-summary .ts-gif-grid-item video {
   max-width: 100%;
}

#ts-summary .ts-prototype-button {
      background-color: #006644; /* TS Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
}

#ts-summary .ts-prototype-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#ts-summary .ts-prototype-button {
    margin: 0 auto;
}

#ts-summary span {
    font-weight: bold;
}


/***** TS DISCOVERY *****/
#ts-discovery {
    height: 1550px;
}

#ts-discovery h1 {
    font-family: 'Lora', serif;
    font-size: 36px;
    /*color: #006644;*/
    font-weight: 600;
    padding: 32px 0 0 25px;
    text-decoration: none !important;
}

#ts-discovery h2 {
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #006644;
    /*padding-left: 50px;*/
    padding: 32px 0 34px 65px;
    margin: 30px 0;
}

#ts-discovery p {
    font-size: 1.4rem;
    padding: 0 20% 0 20%;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.26px;
    margin: 30px auto;
}


/***** TS SYNTHESIS *****/
#ts-synthesis {
    height: 800px;
}

#ts-synthesis h1 {
    font-family: 'Lora', serif;
    font-size: 36px;
    /*color: #006644;*/
    font-weight: 600;
    padding: 32px 0 0 25px;
    text-decoration: none !important;
}

#ts-synthesis h2 {
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #006644;
    /*padding-left: 50px;*/
    padding: 32px 0 34px 65px;
    margin: 30px 0;
}

#ts-synthesis p {
    font-size: 1.4rem;
    padding: 0 20% 0 20%;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.26px;
    margin: 30px auto;
}

/***** TS DESIGN REFINE *****/
#ts-design {
    height: 11500px;
}

#ts-design h1 {
    font-family: 'Lora', serif;
    font-size: 36px;
    /*color: #006644;*/
    font-weight: 600;
    padding: 32px 0 0 25px;
    text-decoration: none !important;
}

#ts-design h2 {
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #006644;
    /*padding-left: 50px;*/
    padding: 32px 0 34px 65px;
    margin: 30px 0;
}

#ts-design p {
    font-size: 1.4rem;
    padding: 0 20% 0 20%;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.26px;
    margin: 30px auto;
}

#ts-design ul {
    padding: 0 20% 0 30%;
    margin: 30px auto;
}

#ts-design li {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.26px;
}

#ts-design span {
    font-weight: bold;
}

#ts-design h3 {
    font-size: 26px;
    line-height: 32px;
    /*padding-left: 50px;*/
    margin: 15px 0;
    color: #828282;
    text-align: center;
}

/***** TS RETROSPECTIVE *****/
#ts-retrospective {
    height: 1350px;
}

#ts-retrospective h1 {
    font-family: 'Lora', serif;
    font-size: 36px;
    /*color: #006644;*/
    font-weight: 600;
    padding: 32px 0 0 25px;
    text-decoration: none !important;
}

#ts-retrospective h2 {
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #006644;
    /*padding-left: 50px;*/
    padding: 32px 0 34px 65px;
    margin: 30px 0;
}

#ts-retrospective p {
    font-size: 1.4rem;
    padding: 0 20% 0 20%;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.26px;
    margin: 30px auto;
}

#ts-retrospective ul {
    padding: 0 20% 0 22%;
    margin: 30px auto;
}

#ts-retrospective li {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.26px;
}

#ts-retrospective span {
    font-weight: bold;
    font-style: italic;
}

.ts-img-fix {
    text-align: center;
}

/***** TABLESHARE - OVERVIEW *****/




/***** SANDBOX *****/

/***** SANDBOX - HOME *****/

#sandbox .full-width .half-width a h1 {
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #BBC085;
    font-weight: 400;
    padding: 65px 0 65px 25px;
    text-decoration: none !important;
}

#sandbox a:hover {
    color: #C49075;
}

/***** REMOVING TEXT DECORATION  *****/


#city-cycles .full-width .half-width a {
    text-decoration: none;
}

#instructor .full-width .half-width a {
    text-decoration: none;
}

#sandbox .full-width .half-width a {
    text-decoration: none;
}