/***** BASE STYLES *****/

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #2b2b2b;
}

/***** GRID *****/

.full-width {
    width: 1200px;
    margin: 0 auto;
}

.half-width {
    width: 600px;
    float: left;
}

.third-width {
    width: 400px;
    float: left;
}

/***** HEADER SECTION *****/

#home {
    height: 800px;
    background: url('../img/hero.png');
    background-size: cover;
}

header h1 {
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #BBC085;
    font-weight: 400;
    padding: 65px 0 65px 25px;
    text-decoration: none !important;
}

nav {
    float: right;
    padding: 75px 25px;
}

nav ul li{
    display: inline-block;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: #828282;
    padding-left: 80px;
}

#home h2 {
    width: 1000px;
    clear: both;
    font-family: 'Lora', serif;
    font-size: 72px;
    line-height: 80px;
    color: #9b9b9b;
    padding: 20px 0 20px 25px;
}

#home h2 span {
    color: #2b2b2b;
}

#home h2 a {
    text-decoration: none;
    color: #9b9b9b;
}

#home a:hover {
    color: #C49075;
}

/***** ABOUT SECTION *****/

#about {
    height: 300px;
}

#about .full-width {
    padding: 80px 0;
}

#about .about-flex {
    display: flex;
    justify-content: space-around;
}

#about h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    padding-left: 50px;
}

#about p {
    font-size: 21px;
    color: #7F7F7F;
    line-height: 40px;
    padding-left: 50px;
    padding-right: 33px
}

#about p span {
    color: #C49075;
    font-style: italic;
}

#about img {
    padding-left: 142px;
    margin-top: -22px;
}

/***** STUDY SECTION *****/

#study {
    height: 600px;
}

#study .full-width {
    padding: 115px 0;
}

#study .study-flex {
    display: flex;
    justify-content: space-around;
}

#study h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    padding-left: 50px;
    margin: 30px 0;
}

#study h3 {
    font-size: 21px;
    line-height: 32px;
    margin: 0 auto;
    text-align: center;
    color: #C49075;
}

#study ul {
    padding-left: 110px;
}

#study ul li  {
    font-size: 21px;
    color: #7F7F7F;
    line-height: 40px;
}

#study ul span {
    color: #C49075;
    font-style: italic;
}

/***** WORK SECTION *****/

#work {
    height: 600px;
    text-align: center;
}

#work h1 {
    font-family: 'Lora', serif;
    font-size: 36px;
    margin-bottom: 60px;
}

#work .third-width {
    background-color: #F9CEB7;
    color: #2b2b2b;
    height: 500px;
    width: 300px;
    border: 0px solid black;
}

#work .work-flex {
    display: flex;
    justify-content: space-evenly;
}

#work h3 {
    font-size: 24px;
}

/*#work p {
    font-family: 'Lora', serif;
    font-size: 18px;
    font-style: italic;
    text-align: initial;
    padding-left: 24px;
    padding-right: 24px;

}*/

#work ul {
    text-align: left;
    line-height: 28px;
    font-family: 'Lora', serif;
    font-size: 18px;
    font-style: italic;
    padding-left: 84px;
}

#work #city-cycles img {
    padding-top: 10.5px;
    position: relative;
}

#work #instructorhq img {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#work #sandbox img {
    padding-top: 50px;
}

#sandbox h2 {
    font-family: 'Lora', serif;
    font-size: 32px;
    margin-top: 8px;
    color: #C49075;
}

.img-background {
    width: 279px;
    height: 210px;
    position: relative;
    background-color: #ffffff;
    top: 10.5px;
    left: 10.5px;
}

.overlay {
    width: 300px;
    height: 500px;
    transition: .5s ease;
    background-color: #9b9b9b;
    opacity: 0;
    position: absolute;
}

#work .work-card:hover .overlay {
    opacity: 1;
}

.overlay-text {
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    position: absolute;
    top: 63%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#instructorhq .work-card-text, #sandbox .work-card-text {
    margin-top: 42px
}

/***** CONTACT SECTION *****/

#contact .full-width {
    text-align: center;
    padding-bottom: 10px;
}

#contact #socialmedia-header {
    font-weight: bold;
    font-size: 29px;
    line-height: 44px;
    margin: 40px 0 0 0;
}

#contact-info {
    padding-top: 30px;
}

#contact a {
    text-decoration: none;
    color: #C49075;
    font-weight: bold;
    font-size: 28px;
}

#contact ul {
    list-style: none;
}

#contact ul li {
     display: inline-block;
}

#contact ul img {
    font-size: 32px;
    padding-right: 48px;
}


/***** CITY CYCLES *****/

/***** CC - HOME *****/
#city-cycles a:hover {
    color: #C49075;
}